@inherits LayoutComponentBase

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<div class="page">
    <main>
        <article class="content">
            @Body
        </article>
    </main>
</div>

