html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f5f5f5;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHZpZXdCb3g9IjAgMCA1NiA0OSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEzLjUgNi41TDIwLjUgMTIuNUwyNy41IDYuNUgxMy41WiIgZmlsbD0iI0Y1RjVGNSIvPgo8cGF0aCBkPSJNMjcuNSA2LjVMMjAuNSAxMi41TDI3LjUgMTguNVY2LjVaIiBmaWxsPSIjRjVGNUY1Ii8+CjxwYXRoIGQ9Ik0yNy41IDYuNUwyMC41IDEyLjVMMTMuNSA2LjVIMjcuNVoiIGZpbGw9IiNGNUY1RjUiLz4KPHBhdGggZD0iTTIwLjUgMTIuNUwyNy41IDE4LjVMMjAuNSAyNC41TDEzLjUgMTguNUwyMC41IDEyLjVaIiBmaWxsPSIjRjVGNUY1Ii8+CjxwYXRoIGQ9Ik0yNy41IDE4LjVMMjAuNSAyNC41TDI3LjUgMzAuNVYxOC41WiIgZmlsbD0iI0Y1RjVGNSIvPgo8cGF0aCBkPSJNMjcuNSAxOC41TDIwLjUgMjQuNUwxMy41IDE4LjVIMjcuNVoiIGZpbGw9IiNGNUY1RjUiLz4KPHBhdGggZD0iTTIwLjUgMjQuNUwyNy41IDMwLjVMMjAuNSAzNi41TDEzLjUgMzAuNUwyMC41IDI0LjVaIiBmaWxsPSIjRjVGNUY1Ii8+CjxwYXRoIGQ9Ik0yNy41IDMwLjVMMjAuNSAzNi41TDI3LjUgNDIuNVYzMC41WiIgZmlsbD0iI0Y1RjVGNSIvPgo8cGF0aCBkPSJNMjcuNSAzMC41TDIwLjUgMzYuNUwxMy41IDMwLjVIMjcuNVoiIGZpbGw9IiNGNUY1RjUiLz4KPHBhdGggZD0iTTIwLjUgMzYuNUwyNy41IDQyLjVMMjAuNSAyNC41TDEzLjUgMzAuNUwyMC41IDM2LjVaIiBmaWxsPSIjRjVGNUY1Ii8+Cjwvc3ZnPgo=) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

    .blazor-error-boundary::after {
        content: "An error has occurred."
    }

/* Hide native file input button */
input[type="file"]#file-upload {
    display: none !important;
    visibility: hidden !important;
    position: absolute !important;
    width: 0 !important;
    height: 0 !important;
    opacity: 0 !important;
    overflow: hidden !important;
    clip-path: inset(50%) !important;
    pointer-events: none !important;
}

input[type="file"]#file-upload::file-selector-button {
    display: none !important;
}

